In [3]:
data = [
    {
        "name": "pawel",
        "age": 39,
        "city": "krakow",
        "hobbies": ["js", "python", "drugs"]
    },
    {
        "name": "kamil",
        "age": 28,
        "city": "gryfino",
        "hobbies": ["js", "python", "godot"]
    },
    {
        "name": "szymon",
        "age": 30,
        "city": "legnica",
        "hobbies": ["crypto", "work"]
    },
    {
        "name": "mateusz",
        "age": 30,
        "city": "wroclaw",
        "hobbies": ["bjj", "coding", "movies"]
    },
    {
        'name': 'piotr',
        'age': 34,
        'city': 'warszawa',
        'hobbies': ['climbing', 'running', 'python']
    },
    {
        'name': 'dawid',
        'age': 36,
        'city': 'torun',
        'hobbies': ['boardgames', 'football', 'squash']
    },
    {
        "name": "aleksandra",
        "age": 29,
        "city": "poznan",
        "hobbies": ["music", "art", "math"]
    },
    {
        "name": "renata",
        "age": 29,
        "city": "sosnowiec",
        "hobbies": ["photography", "literature", "trips"]
    },
    {
        'name': "lukasz",
        'age': 37,
        'city': 'brwinow',
        'hobbies': ['Cycling', 'Home Beer brewing', 'Learning new things'],
    },
    {
        "name": "bartek",
        "age": 47,
        "city": "warszawa",
        "hobbies": ["gry", "muzyka", "filmy"]
    },
    {
        "name": "igor",
        "age": 31,
        "city": "wroclaw",
        "hobbies": ["anime", "mangi", "gry"]
    },
    {
        "name": "magda",
        "age": 31,
        "city": "torun",
        "hobbies": ["books", "jogging", "plants"]
    },
    {
        "name": "karol",
        "age": 38,
        "city": "warszawa",
        "hobbies": ["sport", "music", "culinary"]
    },
    {
        "name": "pawel",
        "age": 33,
        "city": "poznan",
        "hobbies": ["music", "traveling", "photography"]
    }
]

In [2]:
len(data)

14

### Policz srednia wieku

In [4]:
def avg_age(dataset):
    total_age= 0
    
    for person in dataset:
        total_age += person['age']
    
    return total_age/len(dataset)

In [5]:
avg_age(data)

33.714285714285715

In [6]:
def avg_age_2(dataset):
    return sum(person['age'] for person in dataset) / len(dataset)

In [7]:
avg_age_2(data)

33.714285714285715

In [8]:
def avg_age_3(dataset):
    return sum(map(lambda person: person['age'], dataset)) / len(dataset)

In [9]:
avg_age_3(data)

33.714285714285715

In [10]:
x = map(lambda x: x * 2, [1, 2, 3, 4, 5])
x

In [11]:
list(x)

[2, 4, 6, 8, 10]

In [12]:
d = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [15]:
counter = 0
for item in d:
    print(item, counter)
    counter += 1

a 0
b 1
c 2
d 3
e 4
f 5
g 6
h 7
i 8
j 9

In [19]:
for idx, item in enumerate(d):
    print(item, idx)

a 0
b 1
c 2
d 3
e 4
f 5
g 6
h 7
i 8
j 9

In [21]:
list(map(lambda item: item * 2, d))

['aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg', 'hh', 'ii', 'jj']

In [ ]:
# Policz srednia wieku ludzi z po za warszawy

In [ ]:
def avg_age_2(dataset):
    return sum(person['age'] for person in dataset) / len(dataset)

In [37]:
def avg_age_people_out_warsaw_1(dataset):
    ages = [person['age'] for person in dataset if person['city'].lower() != 'warszawa']
    return sum(ages) / len(ages)

In [38]:
avg_age_people_out_warsaw_1(data)

32.09090909090909

In [40]:
def avg_age_people_out_warsaw_2(dataset):
    
    total_age = 0
    counter = 0
    
    for person in dataset:
        if person['city'].lower() != 'warszawa':
            total_age += person['age']
            counter += 1
    return total_age / counter

In [41]:
avg_age_people_out_warsaw_2(data)

32.09090909090909

In [43]:
def avg_age_people_out_warsaw_3(dataset):
    # ages = filter(fn, iterable)
    # ages = filter(lambda, dataset)
    ages = list(filter(lambda person: person['city'].lower() != 'warszawa', dataset))
    return sum(map(lambda person: person['age'], ages)) / len(ages)

In [44]:
avg_age_people_out_warsaw_3(data)

32.09090909090909

## Zwroc imiona osob ktore sa z warszawy

In [51]:
def give_back_names_people_from_waw(dataset):
    return tuple(names['name'] for names in dataset if names['city'].lower() == 'warszawa' )

In [52]:
give_back_names_people_from_waw(data)

('piotr', 'bartek', 'karol')

In [47]:

def give_back_names_people_from_waw_2(dataset):
    names = []
    for person in dataset:
        if person['city'].lower() == 'warszawa':
            names.append(person['name'])
    return names

In [48]:
give_back_names_people_from_waw_2(data)

['piotr', 'bartek', 'karol']

In [1]:
def give_back_names_people_from_waw_3(people):
    # return filter(fn, iterable)
    # return filter(lambda person: person['city'].lower() == 'warszawa', people)
    return list(map(
        lambda person: person['name'],
        filter(lambda person: person['city'].lower() == 'warszawa', people)
    ))

In [4]:
give_back_names_people_from_waw_3(data)

['piotr', 'bartek', 'karol']

### Zwroc wszystkie miasta bez powtorzen

In [5]:
def cities_without_repetition(dataset):
    return set(city['city'] for city in dataset)

In [6]:
cities_without_repetition(data)

{'brwinow',
 'gryfino',
 'krakow',
 'legnica',
 'poznan',
 'sosnowiec',
 'torun',
 'warszawa',
 'wroclaw'}

In [9]:
def cities_without_repetition_2(dataset):
    cities = []
    for city in dataset:
        cities.append(city['city'])
    return list(set(cities))

In [10]:
cities_without_repetition_2(data)

['poznan',
 'warszawa',
 'torun',
 'gryfino',
 'krakow',
 'wroclaw',
 'sosnowiec',
 'brwinow',
 'legnica']

In [11]:
cities_without_repetition_3 = lambda dataset: set(map(lambda city: city['city'], dataset))

In [12]:
cities_without_repetition_3(data)

{'brwinow',
 'gryfino',
 'krakow',
 'legnica',
 'poznan',
 'sosnowiec',
 'torun',
 'warszawa',
 'wroclaw'}

### Sprawdz czy przynajmniej jedna osoba jest staruchem (age > 35 lat )

In [13]:
def check_age_people(dataset):
    return [age['name'] for age in dataset if age['age'] > 35]

In [14]:
check_age_people(data)

['pawel', 'dawid', 'lukasz', 'bartek', 'karol']

In [17]:
def check_age_people_2(dataset):
    age_list = [age['name'] for age in dataset if age['age'] > 35]
    return f'There are {len(age_list)} people who are older than 35 years' if len(age_list) >= 1 else f'There is no elderly people in the group'

In [18]:
check_age_people_2(data)

'There are 5 people who are older than 35 years'